.colaborador {
    width: 430px;
    border: 4px solid blueviolet;
    border-radius: 10px;
    /* box-shadow: 20px 20px 170px 800px #6BD1FF inset; */
}

.colaborador .cabecalho {
    width: 100%;
    
    /* border-radius: 100px; */
    /* box-shadow: 0px 0px 17px 80px #6BD1FF inset; */
}
.colaborador img {
    width: 100%;
    border-radius: 1%; 
    position: relative;
    cursor: pointer;
    
    /* bottom: -50px; */
}

.colaborador .rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background: #030303;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 6px 6px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.colaborador .rodape h4 {
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    /* margin-bottom: 8px; */
}

.colaborador .rodape h5 {
    font-size: 18px;
    line-height: 22px;
    color: #212121;
    padding: 0 16px;
}


.rodape img {
    width: 5%;
    
}



