.colaborador {
    width: 430px;
    border-radius: 10px;
    min-width: 422px;
    min-height: 516px;
}

.cabecalho {
    width: 100%;
}
.img-cabecalho {
    width: 100%;
    border-radius: 1%;    
}

.rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background: #030303;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 6px 6px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.rodape div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 32px;
    gap: 16px;
}

.rodape img{
    cursor: pointer;
}

.rodape h4 {
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
}

.rodape h5 {
    font-size: 18px;
    line-height: 22px;
    color: #212121;
    padding: 0 16px;
}


.imagens-card {
    width: 100%;    
}
