.listaSuspensaFormEditar{
    display: flex;
    flex-direction: column;

}
.listaSuspensaFormEditar label{
    margin-bottom: 8px;
    font-size: 24px;
}

.listaSuspensaFormEditar select{ 
    justify-content: center;
    align-items: center;   
    background-color: #03122F;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.06);
    border-radius: 16px;
    border: 4px solid #2271D1;
    width: 40rem;
    /* border: none; */
    font-size: 24px;
    padding: 24px;
    color: #fff;
    /* box-sizing: border-box; */
    
}