
.rodape-video{
    background-color: #000;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.foto-alura-flix{
    width: 10%;    
}

.cabecalhoVideo-invertido{
    display: none;
}
@media (max-width: 725px) {
    .foto-alura-flix{
        display: none;
    }
    .rodape-video{
        height: 100px;
    }

    .cabecalhoVideo-invertido{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 64px;
    }

    .cabecalhoVideo-invertido img{
        width: 80%;
    }
}