.botao-enviarVideos {
    display: flex;
    gap: 50px;
    align-items: center;
    font-family: 'Roboto';
    margin-top: 80px;   
}

.botao-enviar{
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50px;
    border-radius: 10px;    
    padding: 32px;
    cursor: pointer;
    border: 3px solid #2271D1;
    color: #fff;
    font-size: 25px;
    font-weight: 900;
}

.botao-limpar{
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50px;
    border-radius: 10px;    
    padding: 32px;
    cursor: pointer;
    border: 3px solid #fff;
    color: #fff;
    font-size: 25px;
    font-weight: 900;
}

@media (max-width: 1250px){
    .botao-enviarVideos{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 650px){
    .botao-enviarVideos{
        flex-direction: column;
    }
}