.time{
    width: 100%;
    text-align: center;
    padding: 32px;
    background-color: #262626;
}

.time h3{
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 432px;
    height: 70px;   
    border-radius: 16px;
    padding-bottom: 8px;
    color: #fff;
}

.colaboradores {
    display: inline-block;
    display: flex;
    justify-content: space-around;
    margin-top: 32px;
    flex-wrap: wrap;
    gap: 16px;
} 

@media (max-width: 1250px){

    
     
    .colaboradores {
        /* max-height: 100px; */
        /* max-width: 100%; */
        flex-wrap: nowrap;
        display: flex;
        overflow-x: auto;
        
    }
    .titulo-time{
        /* min-width: 100%; */
        display: flex;
        justify-content: center;
        align-items: center;
    } 

}