.time{
    text-align: center;
    padding: 32px;
    background-color: #262626;
}

.time h3{
    font-size: 32px;
    /* border-bottom: 4px solid; */
    display: inline-block;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 432px;
    height: 70px;
   
    border-radius: 16px;

    padding-bottom: 8px;
    color: #fff;
}

.time .colaboradores {
    display: flex;
    justify-content: space-around;
    margin-top: 32px;
    flex-wrap: wrap;
} 

