@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
.cabecalho-principal{
    background-color: #262626;
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
}

.imagem-aluraFlix{
    padding: 32px 32px;

}

.botao{
    display: flex;
    justify-content: space-between;
    padding: 32px 64px;
    gap: 64px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.botao a{
    border-radius: 6px;
    width: 140px;
    height: 40px;
    font-family: "Source Sans 3", sans-serif;
    font-size: 18px;
    font-weight: 900;
    text-decoration: none;
    cursor: pointer;
    
}

.botao-home{
    background: var(#2271D1, #2271D1);
    background: #000000E5;   
    color: #2271D1;
    box-shadow: 0px 0px 12px 4px #2271D1 inset;
    
    display: flex;
    justify-content: center; 
    align-items: center; 
    
    
} 

.botao-video{
    background-color: transparent;
    border: 2px solid #F5F5F5;
    color: #ffffff;
    
    display: flex;
    justify-content: center; 
    align-items: center;
}

@media (max-width: 725px){
    .cabecalho-principal{
        display: none;
    }
}