.campoTextoFormEditar {
    margin: 24px 0;
    display: flex;
    flex-direction: column;
    
}

.campoTextoFormEditar label {
    margin-bottom: 8px;
    font-size: 24px;
}

.campoTextoFormEditar input {
    justify-content: center;
    align-items: center;
    background-color: #03122F;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.06);
    border-radius: 16px;
    border: 4px solid #2271D1;
    width: 40rem;
    color: #A5A5A5;
    font-size: 24px;
    padding: 24px;
    box-sizing: border-box;
}

.mensagemErro {
    color: red;
    font-size: 20px;
  }

.campoTextoFormEditar .inputErro {
    border-color: red;
  }


  
@media (max-width: 1020px){
    .campoTextoFormEditar input{
        width: 100%;
    }
}